    <!-- About Section -->
    <section id="about" style="padding: 0 0">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">产品特色</h2>
                    <h3 class="section-subheading text-muted"></h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="../css/2016_style/img/icon-about.jpeg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <div style="font-size: 160%; margin-top:60px">
                                        <h4>接口、组件级自动化测试</h4>
                                    </div>
                                </div>
                                <!--<div class="timeline-heading">-->
                                    <!--<p class="text-muted">说点什么。。。</p>-->
                                <!--</div>-->
                                <!--<a href="/2016/about" class="page-scroll btn btn-sm">Learn More</a>-->
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="../css/2016_style/img/icon-venue.jpeg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <div style="font-size: 160%; margin-top:60px">
                                        <h4>标准、精细化测试验证</h4>
                                    </div>
                                </div>
                                <!--<div class="timeline-heading">-->
                                    <!--<p class="text-muted">说点什么</p>-->
                                <!--</div>-->
                                <!--<a href="/2016/venue" class="page-scroll btn btn-sm">Learn More</a>-->
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="../css/2016_style/img/icon-team.jpeg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <div style="font-size: 160%; margin-top:60px">
                                        <h4>高效、可视化用例维护</h4>
                                    </div>
                                </div>
                                <!--<div class="timeline-heading">-->
                                    <!--<p class="text-muted">说点什么。。。</p>-->
                                <!--</div>-->
                                <!--<a href="/2016/team" class="page-scroll btn btn-sm">Learn More</a>-->
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="../css/2016_style/img/booklet-icon.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <div style="font-size: 160%; margin-top:60px">
                                        <h4>丰富的金融级分布式架构场景实践</h4>
                                    </div>
                                </div>
                                <!--<div class="timeline-heading">-->
                                <!--<p class="text-muted">View or Download our event booklet</p>-->
                                <!--</div>-->
                                <!--<a href="/booklet" class="page-scroll btn btn-sm">Learn More</a>-->
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>